.container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;
  align-items: center;
  align-content: center;
  text-align: center;
  color: azure;
  flex-direction: column;
  background-size: cover;
  background-image: linear-gradient(
    210deg,
    hsl(0deg 0% 0%) 0%,
    hsl(60deg 17% 2%) 7%,
    hsl(60deg 7% 4%) 19%,
    hsl(60deg 4% 6%) 33%,
    hsl(60deg 3% 8%) 46%,
    hsl(60deg 2% 9%) 60%,
    hsl(60deg 2% 10%) 72%,
    hsl(60deg 2% 12%) 84%,
    hsl(60deg 1% 13%) 94%,
    hsl(60deg 1% 14%) 100%
  );
  margin-bottom: -500px;
  font-family: "Bebas Neue", cursive;
}

.filters {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}

.card {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 10px;
  flex-direction: row;
  margin-top: 1rem;
  margin-bottom: 2rem;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
}
