.form{
    font-family: 'Ubuntu', sans-serif;
color: rgb(186, 187, 187);
position: fixed;
top: 50vh;
left: 50vw;
transform: translate(-50%, -50%);;

}

.error{
    font-family: 'Ubuntu', sans-serif;
    font-size: 10px;
    color: rgb(160, 12, 12);

}

.arrowLeft {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 50px;
    height: 50px
}
.arrowLeft::after,
.arrowLeft::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    left: 30px
}
.arrowLeft::after {
    width: 20px;
    height: 20px;
    border-bottom: 3px solid;
    border-left: 3px solid;
    transform: rotate(45deg);
    bottom: 7px
}

.container{
    display: block;
}

.box{
    display: grid;
    grid-template-columns: auto auto auto auto;
    flex-direction: row;
    border: 1px solid black;
    border-radius: 0.5rem;
}