.container {
  background: none;
  width: 95%;
  border-radius: 10px;
  display: flex; /*con display, justify-content, aling-items -> dejo centrados los filtros*/
  justify-content: center;
  align-items: center;
}

.navigate {
  border-bottom: 3px solid #000;
  border-right: 3px solid #000;
  width: 8px;
  height: 8px;
  transform: rotate(135deg);
}

.page {
  width: 40px;
  padding: 5px;
  background-color: #35bcdd;
  color: black;
  margin: 5px 10px;
  border: 3px solid;
  border-radius: 5px;
  font-weight: bold;
}

.pageSelected {
  width: 30px;
  padding: 5px;
  background-color: rgba(138, 236, 231, 0.781);
  color: rgb(190, 15, 15);
  margin: 5px 15px;
  border: 3px solid #35bcdd;
  border-radius: 5px;
  font-weight: bold;
}
