.container {
  background: none;
  width: 95%;
  border-radius: 10px;
  display: flex; /*con display, justify-content, aling-items -> dejo centrados los filtros*/
  justify-content: center;
  align-items: center;
}

.navigateprev {
  border-bottom: 3px solid rgb(182, 181, 181);
  border-right: 3px solid rgb(182, 181, 181);
  width: 8px;
  height: 8px;
  transform: rotate(135deg);
}
.navigatenext {
  border-bottom: 3px solid rgb(182, 181, 181);
  border-right: 3px solid rgb(182, 181, 181);
  width: 8px;
  height: 8px;
  transform: rotate(-45deg);
}

.page {
  width: 40px;
  padding: 5px;
  background-color: transparent;
  color: rgb(255, 255, 255);
  margin: 5px 10px;
  
  font-weight: lighter;
}

.pageSelected {
  width: 30px;
  padding: 5px;
  background-color:transparent;
  color: rgb(223, 222, 222);
  margin: 5px 15px;
  border: 1px solid #b3b5b6;
  border-radius: 2px;
  font-weight: bold;
}
